/*Cliommit CSS*/

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: inherit;
}

h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.hero-tagline {
  max-width: 600px;
}

header {
  padding-left: 0rem;
  padding-right: 3rem;
  padding-top: 0.2rem;
  font-family: "Ubuntu", sans-serif;
  width: 100%auto;
  color: #49ccd5;
  font-weight: 800;
  font-style: bold;
  font-size: 3vw;
  margin-top: 100px;
  margin-left: 7rem;
  display: flex;
  align-items: flex-start;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-1 {
  float: right;
}

#iphone {
  float: right;
  padding: 30px;
  padding-right: 10%;
  position: relative;
  padding-top: 3%;
  display: grid;
  align-content: flex-end;
  overflow: hidden;
}

#iphone {
  position: relative;
  -webkit-animation: free_iphonex_mochup 3s infinite normal ease-out;
  animation: free_iphonex_mochup 2s normal ease-out;
}
iphone {
  position: top right;
  flex: auto;
}

@-webkit-keyframes free_iphonex_mochup {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}
@keyframes free_iphonex_mochup {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}

body {
  font-size: 2em;
  line-height: 18px;
  font-family: "museo-slab", arial, sans-serif;
  line-height: 23px;
}

h4 {
  float: left;
  padding-right: 3rem;
  font-family: Verdana;
  width: 40rem;
  color: #49ccd5;
  font-weight: 200;
  font-size: 1vw;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.feature-content {
  padding-top: 5rem;
  width: span;
}

#feature-one {
  position: relative;
}
