// Load CSS Reset from NPM
@import "~normalize.css";

html,
body {
  height: 100%;
  background: url("../images/trees.jpg") center center;
  background: #c9d6ff; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-size: 2em;
  font-family: "museo-slab", arial, sans-serif;
  line-height: 23px;
}

h1,
h2,
h3,
h4,
h5 {
  color: inherit;
}

h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.hero-tagline {
  max-width: 600px;
  font-size: 1.5em;
}

header {
  padding-left: 0;
  padding-right: 3rem;
  padding-top: 0.2rem;
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  color: #49ccd5;
  font-weight: 800;
  font-style: bold;
  font-size: 3vw;
  margin-top: 100px;
  margin-left: 7rem;
  display: flex;
  align-items: flex-start;
}

#iphone {
  float: right;
  padding: 30px;
  padding-right: 10%;
  position: relative;
  padding-top: 3%;
  display: grid;
  align-content: flex-end;
  overflow: hidden;
  animation: free_iphonex_mochup 2s normal ease-out;
}

@keyframes free_iphonex_mochup {
  0% {
    top: 500px;
  }

  100% {
    top: 0;
  }
}

h4 {
  float: left;
  padding-right: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 40rem;
  color: #49ccd5;
  font-weight: 200;
  font-size: 1vw;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.feature-content {
  padding-top: 5rem;
  width: span;
}

#feature-one {
  position: relative;
}
